.bannerImage {
  background-image: url("../../../public/images/header-superior-principal.jpg");
  background-size: cover;
  background-position: center;
  height: max-content;
}

.image-slider{
  height: 500px !important;
}

.image-novedades{
  height: 300px !important;
}
